/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

body {
	@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap");
	@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
}

body._lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	min-height: 100%;
}
.aside {
	flex: 0 0 241px;
	background: #1f2339;
	min-height: 100%;
	position: relative;
	z-index: 10;

	@media (max-width: 768px) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 241px;
		height: 100%;
		transition: all 0.3s ease 0s;

		&._active {
			left: 0;
		}
	}
	// .aside__content

	&__content {
		font-family: "Open Sans";
		font-size: 14px;
		line-height: 135%;
		font-weight: 400;
	}

	// .aside__body

	&__body {
		@media (max-width: 768px) {
			padding: 50px 0 0 0px;
		}
	}

	// .aside__items

	&__items {
		display: flex;
		flex-direction: column;
		padding: 31px 0px 76px 20px;
	}

	// .aside__item

	&__item {
		padding: 13px 0 13px 6px;
	}

	&__item-item {
		&:not(:last-child) {
			margin: 0 0 25px 0;
		}
	}

	// .aside__link

	&__link {
		display: flex;
		align-items: center;
		color: #ffffff;
		padding: 0 0 0 8px;
		img {
			margin: 0 8px 0 0px;
		}
	}

	&__icon {
		fill: #ffffff;
		margin: 0 8px 0 0;
	}

	&__link-item {
		display: flex;
		align-items: center;
		align-items: center;
		color: #ffffff;
		padding: 0 0 0 8px;
		img {
			margin: 0 8px 0 0px;
		}
	}

	// .aside__list

	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0 0 0 10px;
		font-weight: 400;
	}
}

.item-open {
	background: radial-gradient(133.33% 2508.35% at -4.59% -10%, #32e6ff 0%, rgba(0, 255, 209, 0.81) 100%)
			/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
		#43e8ff;
	border-radius: 10px;
	width: 221px;
	padding: 13px 0 13px 8px;
	margin: 0;
}

.link-open {
	color: #23273a;
}

.link-main {
	font-weight: 600;
	color: #ffffff;
}

// основной контент ----------------------/

.main {
	flex: 1 1 auto;
	background: #4d5474;
	// .main__container

	&__container {
	}

	// .main__header

	&__header {
	}

	// .main__body

	&__body {
	}
}

// ._container

._container {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 15px;
}

.header-main {
	// .header-main__body

	// .menu-icon /*---меню-бургер---*/
	&__menu-icon {
		display: none;
	}
	@media (max-width: 768px) {
		&__menu-icon {
			display: block;
			z-index: 10;
			position: relative;
			top: 20px;
			left: 0%;
			width: 30px;
			height: 18px;
			cursor: pointer;
		}
		&__menu-icon span,
		&__menu-icon::before,
		&__menu-icon::after {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #ffffff;
		}
		&__menu-icon::before,
		&__menu-icon::after {
			content: "";
		}
		&__menu-icon::before {
			top: 0;
		}
		&__menu-icon::after {
			width: 100%;
			bottom: 0;
		}
		&__menu-icon span {
			top: 50%;
			width: 100%;
			transform: scale(1) translate(0px, -50%);
		}
		&__menu-icon._active span {
			transform: scale(0) translate(0px, -50%);
		}
		&__menu-icon._active::before {
			top: 50%;
			transform: rotate(-45deg) translate(0px, -50%);
		}
		&__menu-icon._active::after {
			width: 100%;
			bottom: 50%;
			transform: rotate(45deg) translate(0px, 50%);
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 55px auto 49px;
		@media (max-width: 768px) {
			justify-content: space-around;
		}
		@media (max-width: 425px) {
			flex-direction: column;
		}
	}

	// .header-main__title

	&__titleStatus {
		font-family: "Open Sans";
		display: flex;
		align-items: baseline;
		@media (max-width: 425px) {
			&:not(:last-child) {
				margin: 0 0 20px 0;
			}
		}
	}

	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 136%;
		color: #ffffff;
		&:not(:last-child) {
			margin: 0 17px 0 0;
		}
		@media (max-width: 992px) {
			font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1100 - 320)));
		}
	}
	// .header-main__status

	&__status {
		font-weight: 600;
		font-size: 16px;
		line-height: 138%;
		color: #43e8ff;
		@media (max-width: 992px) {
			font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1100 - 320)));
		}
	}

	// .header-main__buttons

	&__buttons {
		display: flex;
		font-family: "Open Sans";
	}

	&__btn-check {
		font-weight: 600;
		font-size: 16px;
		line-height: 138%;
		color: #23273a;
		padding: 7px 30px;
		background-color: #ffffff;
		border-radius: 6px;
		&:not(:last-child) {
			margin: 0 23px 0 0;
		}
		@media (max-width: 992px) {
			font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1100 - 320)));
		}
		@media (max-width: 425px) {
			padding: 5px 10px;
			display: flex;
			align-items: center;
		}
	}

	// .header-main__btn-add

	&__btn-add {
		display: block;
		width: 32px;
		height: 32px;
		&:not(:last-child) {
			margin: 0 23px 0 0;
		}
	}
	// .header-main__btn-settings

	&__btn-settings {
		display: block;
		width: 32px;
		height: 32px;
	}
}

.btn-add,
.btn-settings {
	color: #ffffff;
}

//-----------ПЛИТКИ------------//

.main {
	&__body {
		font-family: "Open Sans";
		margin: 0 0 80px 0;
	}
}

//---Карточки----//

.cards {
	display: grid;
	grid-template-columns: repeat(2, 525px);
	grid-template-rows: 166px 665px;
	gap: 25px;
	@media (max-width: 425px) {
		grid-template-columns: 525px;
		grid-template-rows: auto 166px 665px;
	}
	&__structure {
		background: #383e57;
		box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);
		border-radius: 18px;
		grid-column: span 1;
		grid-row: span 2;
		@media (max-width: 425px) {
			grid-row: span 1;
		}
	}
	&__checking {
		background: #383e57;
		box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);
		border-radius: 18px;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
		@media (max-width: 425px) {
			grid-column-start: 1;
			grid-column-end: 1;
			grid-row-start: 2;
			grid-row-end: 3;
		}
	}
	&__form {
		background: #383e57;
		box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);
		border-radius: 18px;
		@media (max-width: 425px) {
			grid-row: span 3;
		}
	}
	&__title {
		padding: 27px 0 26px 20px;
		border-bottom: 1px solid #151e41;
	}
	&__block {
		padding: 25px 20px;
		&:not(:last-child) {
			border-bottom: 1px solid #151e41;
		}
	}
}

//--Карточка-организации---//

.block-card {
	&__body {
		position: relative;
		z-index: 5;
		
	}

	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__title {
	}

	&__header-name {
		margin: 0 0 21px 0;
	}

	&__icon {
		height: 15px;
		color: #ffffff;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}

	&__icon.active {
		transform: rotate(180deg);
	}

	&__icon_copy {
		display: none;
		transition: all 0.3s ease-in-out;
	}

	&__icon_copy.active {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: -20px 0 0 0;
	}

	// .block-card__staffer

	&__staffer {
		font-weight: 400;
		color: #ffffff;
		margin: 0 0 30px 0;
	}

	// .block-card__name

	&__name {
		font-size: 14px;
		line-height: 136%;
	}

	// .block-card__name-link

	&__name-link {
		font-size: 14px;
		line-height: 136%;
		color: #ffffff;
	}

	// .block-card__experience

	&__experience {
		font-size: 12px;
		line-height: 133%;
	}

	// .block-card__info

	&__info {
	}

	// .block-card__address

	&__address {
		display: block;
		font-weight: 400;
		font-size: 14px;
		line-height: 136%;
		color: #ffffff;
		&:not(:last-child) {
			margin: 0 0 11px 0;
		}
		&::before {
			content: "";
			display: inline-block;
			background: url(../img/main/geoloc.svg) 50% no-repeat;
			width: 17px;
			height: 17px;
			margin: 0 7px 0 0;
		}
	}

	// .block-card__amount

	&__amount {
		display: block;
		font-weight: 400;
		font-size: 14px;
		line-height: 136%;
		color: #ffffff;
		&::before {
			content: "";
			display: inline-block;
			background: url(../img/main/profile.svg) 50% no-repeat;
			width: 17px;
			height: 17px;
			margin: 0 7px 0 0;
		}
	}

	&__sublist {
		max-height: 0;
		transition: all 0.2s ease-in-out;
		overflow: hidden;
	}

	&__sublist.active {
		margin: 32px 0 0 0;
		max-height: 100%;
	}

	&__sublist-title {
		&:not(:last-child) {
			margin: 0 0 11px 0;
		}
	}
	&__sublist-item {
		font-weight: 400;
		font-size: 14px;
		line-height: 136%;
		color: #a1a6be;
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin: 0 0 11px 0;
		}
		&::before {
			content: "";
			display: inline-block;
			background: url(../img/main/la_signature.svg) no-repeat;
			width: 16px;
			height: 16px;
			margin: 0 7px 0 0;
		}
	}
}

.title {
	font-weight: 700;
	font-size: 14px;
	line-height: 136%;
	color: #ffffff;
}

.title2 {
	font-weight: 400;
	font-size: 14px;
	line-height: 136%;
	color: #ffffff;
}

.subtitle {
	font-weight: 300;
	font-size: 12px;
	line-height: 133%;
	color: #ff8991;
}

//------Блок-формирования--------//

.checking-card {
	// .checking-card__body

	&__body {
		padding: 19px 22px 19px 27px;
	}

	// .checking-card__item

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:not(:last-child) {
			margin: 0 0 10px 0;
		}
	}

	// .checking-card__title

	&__title {
	}

	// .checking-card__btn

	&__btn {
		width: 183px;
		height: 36px;
	}
}

hr {
	border: 1px solid #ffffff;
}

.hr1 {
	width: 136px;
}

.hr2 {
	width: 171px;
}

.hr3 {
	width: 152px;
}

.button {
	background: #23273a;
	border-radius: 6px;
	color: #43e8ff;
	font-weight: 600;
	font-size: 16px;
	line-height: 138%;
	display: flex;
	justify-content: center;
	align-items: center;
}

//---------Форма----------//

.form-card {
	// .form-card__body

	// .form-card__search

	&__search {
		border-bottom: 1px solid #151e41;
	}

	// .form-card__title

	&__title {
		margin: 25px 0 6px 29px;
	}

	// .form-card__input-search

	&__input_search {
		width: 466px;
		height: 56px;
		margin: 0 0 30px 29px;
		padding: 0 0 30px 10px;
	}

	// .form-card__organization

	&__organization {
		padding: 26px 0 29px 19px;
	}

	// .form-card__name

	&__name {
		margin: 0 0 6px 0;
	}

	// .form-card__input-name

	&__input_name {
		width: 465px;
		height: 32px;
		padding: 0 0 0 11px;
	}

	// .form-card__checkingType

	&__checkingType {
		margin: 0 0 6px 0;
	}

	// .form-card__select-checking

	&__select_checking {
		width: 303px;
		height: 32px;
		padding: 0 13px 0 11px;
		-webkit-appearance: none;
		background: #3e4459 url(../img/main/arrowGrey.svg) no-repeat right;
		background-position-x: calc(100% - 13px);
		border-radius: 5px;
		font-weight: 300;
		font-size: 14px;
		line-height: 136%;
		color: #c4c4c4;
		cursor: pointer;
		margin: 0 0 17px 0;
	}

	// .form-card__verificationCheck

	&__verificationCheck {
		margin: 0 0 6px 0;
	}

	// .form-card__select-form

	&__select_form {
		width: 303px;
		height: 32px;
		padding: 0 13px 0 11px;
		-webkit-appearance: none;
		background: #3e4459 url(../img/main/arrowGrey.svg) no-repeat right;
		background-position-x: calc(100% - 13px);
		border-radius: 5px;
		font-weight: 300;
		font-size: 14px;
		line-height: 136%;
		color: #c4c4c4;
		cursor: pointer;
		margin: 0 0 17px 0;
	}

	// .form-card__verificationMethod

	&__verificationMethod {
		margin: 0 0 6px 0;
	}

	// .form-card__select-method

	&__select_method {
		width: 303px;
		height: 32px;
		padding: 0 13px 0 11px;
		-webkit-appearance: none;
		background: #3e4459 url(../img/main/arrowGrey.svg) no-repeat right;
		background-position-x: calc(100% - 13px);
		border-radius: 5px;
		font-weight: 300;
		font-size: 14px;
		line-height: 136%;
		color: #c4c4c4;
		cursor: pointer;
		margin: 0 0 17px 0;
	}

	// .form-card__verificationDate

	&__verificationDate {
		margin: 0 0 6px 0;
	}

	// .form-card__input-date

	&__input_date {
		width: 194px;
		height: 32px;
		padding: 0 20px 0;
		margin: 0 0 17px 0;
	}

	&__verificationPlace {
		margin: 0 0 6px 0;
	}

	// .form-card__input-address

	&__input_address {
		width: 465px;
		height: 32px;
		padding: 0 0 0 11px;
	}

	// .form-card__button

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .form-card__btn

	&__btn {
		width: 138px;
		height: 36px;
	}
}

.input {
	background: #3e4459;
	border-radius: 5px;
	font-weight: 300;
	font-size: 14px;
	line-height: 136%;
	color: #c4c4c4;
}
